body {
    font-family: sans-serif;
    background-image: linear-gradient(Khaki	,Moccasin,Goldenrod	);
}
header  {
    background-color:  khaki;
    color: Brown;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    border-radius: 20px;
}
header:hover {
    background-color: tan;
}
nav {
    background-color: tan;
    text-align: center;
    font-size: 20px;
    border-radius: 20px;
}
h1 {
    text-align: center;
    color: indigo	;
    border: 20px groove MediumSlateBlue;
  
}
ul {
    border: 5px outset hotpink;
}
ul:hover {
    border: 5px outset purple;
}
.oo {
    border: 3px double Sienna;
    box-shadow: 5px 5px 5px 5px  coral;
}
